.borda {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
}

p {
    width: 300px;
}

.autor {
    text-align: right;
}
